html{
    margin: 5px;
}
div{
    border: 5px solid green;
}

a{
    /*comando a baixo serve para tira a linha do link*/
    text-decoration: none;
    border: 2px solid black;
}
a:hover{
    cursor: pointer;
    color: red;
}