nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.4rem;
    border: 1px solid red;

    & a{
        cursor: pointer;
        margin: 2px 4px 2px 2px;
        padding: .0625rem;

        &:hover{
            background-color: var(--bg-color-hover);
            border-radius: .3125rem;
            
        }
    }
}








            /*RESPONSIVIDADE DO SITE*/

/*mobile*/
@media (min-width: 37.5rem) {
    nav{
        justify-content: space-between;
        font-size: 1.25rem;
        & a{
            margin: .3125rem;
            padding: .375rem;
        }
    }
}


/*Tablete*/

@media ( min-width :48rem){
    nav{
        justify-content: space-between;
        font-size: 25px;
        & a{
            margin: .3125rem;
            padding: .375rem;
        }
    }
}
