main{
    margin: 1rem;
}
#sobre{
    display: flex;
    justify-content: center;
    align-items: center;

    
    .inicial{
        margin: 16px;
        gap: 5rem;

        & h1{
            font-size: 1.875rem;
            max-width: 20rem;
            max-height: 1rem;
            text-align: center;
        }
        
    }

    article{
        display: flex;
        justify-content: center;
        align-items: center;

        & img{
            width: 10rem;
            object-fit: cover;
            border-radius: 1.25rem;
            border: 2px solid rgb(112, 248, 0);
            

        }

        .informacoes{
            max-width: 300px;
            margin: 1rem;
            & h2{
                max-width: 100%;
                padding: 20px;
                border-radius: .9375rem;
                text-align: center;
                background-color: var(--bg-color-hover);
            }
    
            & h3{
                background-color: var(--bg-color-nav);
                max-width: 100%;
                padding: 10px;
                border-radius: 25px;
            }
        }
       
    }
}



/*RESPONSIVIDADE*/

/*mobile*/
@media (max-width: 600px){
    #sobre{
        display: grid;
    }

    article>img{
        width: 5rem;
    }
}